[Unit]
Description=Bluetooth NAP Service
After=bluetooth.target requires=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/local/bin/simple-bt-nap
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
